<div>
  <div class="coll">
    <%= form_with url: orders_path, method: :post do |f| %>
      <div class="text-center shopping_card_container">
        <% if @shopping_cart.empty? %>
          <%= render 'shopping_carts/empty' %>
        <% else %>
        
        <% end %>
      </div>
      <div>
        <span class="subtitle-color">
          Итого
        </span>
      </div>
      <div>
        <h2>
          <%= @shopping_cart.cost %> ₽
        </h2>
      </div>

      <div class="mb-3 form-check">
        <%= f.check_box :no_hand, autofocus: false, class: 'form-check-input' %>
        <%= f.label :no_hand, 'Оставить у двери', class: 'form-check-label' %>
      </div>

      <div>
        <%= f.submit "Оформить", class: 'btn btn-primary default_border_radius w_100' %>
      </div>
    <% end %>
  </div>
</div>