<div class="filter rounded bg-primary p-4 text-light shadow">
  <%= form_with method: 'get', class: 'row g-3 bg-primary' do |f| %>
    <h3 class="text-warning">Фильтр</h3>

    <div class="col-md-4">
      <%= label_tag 'kind', 'Тип', class: 'form-label' %>
      <%= select_tag(:kind, options_for_select(@item_kinds, 'all'), class: 'form-select') %>
    </div>

    <div class="col-md-4">
      <%= label_tag 'term', 'Наименование', class: 'form-label' %>
      <%= text_field_tag 'term', nil, placeholder: 'Рыба ...', class: 'form-control' %>
    </div>

    <div class="col-md-2">
      <%= label_tag 'order_by', 'Сортировать по', class: 'form-label' %>
      <%= select_tag(:order_by, options_for_select(@order_by), class: 'form-select') %>
    </div>

    <div class="col-md-2">
      <%= label_tag 'order_direction', 'Направление сортировки ', class: 'form-label' %>
      <%= select_tag(:order_direction, options_for_select(@order_direction), class: 'form-select') %>
    </div>

    <div class="col-12">
      <%= f.submit 'Поиск', class: 'btn btn-light' %>
    </div>
  <% end %>
</div>