<div class="card m-2" style="width: 260px;">
  <img src="<%= item.image_path%>" class="card-img-top" alt="..." height="200px">
  <div class="card-body">
    <h5 class="card-title"><%= item.title %></h5>
    <p class="card-text"><%= item.description %></p>
    <p class="card-text">Цена: <%= item.cost_rub %>(р)</p>
    <p class="card-text">Вес: <%= item.weight %>(г)</p>
    <a href="#" class="btn btn-primary">Добавить в корзину</a>
  </div>
</div>