<div class="card m-2" style="width: 260px;">
  <img src="" class="card-img-top" alt="..." height="200px">
  <div class="card-body">
    <h5 class="card-title"><%= item.title %></h5>
    <p class="card-text"><%= item.description %></p>
    <p class="card-text">Цена: <%= item.cost_rub %>(р)</p>
    <p class="card-text">Вес: <%= item.weight %>(г)</p>
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-5 col-form-label">Количество</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="staticEmail" value="1">
      </div>
    </div>

    <button
      class="btn btn-primary"
      style="width:100%"
      data-action="shopping-carts#add_item_to_shopping_card"
      data-shopping-carts-id-param="<%= item.id %>"
    >
      Добавить в корзину
    </button>
  </div>
</div>