<div class="d-flex flex-column item">
  <div class="item__image_container default_border_radius d-flex align-items-center justify-content-center">
    <%= image_pack_tag "items/#{rand(3)}.jpeg", class: "item__image"%>
  </div>
  <div class="item__content mt-1">
    <%= item.title.capitalize %>
  </div>
  <div class="item__meta">
    <%= item.weight %> Г
  </div>
  <div class="item__add_btn_container">
    <%= form_with url: shopping_cart_path, method: 'put', class: 'item__add_btn_container', remote: true do |f| %>
      <%= f.hidden_field :item_id, value: item.id %>
      <%= f.submit "#{item.cost_rub } ₽ +", class: 'btn item__add_btn default_border_radius w_100' do %>
        <%= item.cost_rub %> ₽ +
      <% end %>
    <% end %>
  </div>
</div>