<div class="container-sm mt-3 mb-3">
  <div class="row align-items-end">
    <div class="col">
      <ul class="nav justify-content-end align-items-baseline">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Заказы</a>
          </li>
          <li class="nav-item">
            <div class="shopping_cart d-flex  align-items-baseline">
              <%= link_to 'Корзина', shopping_cart_path, { 'aria-current' => 'page', 'class' => 'nav-link active ' } %>
              <span class="shopping_cart__cost"><%= @shopping_cart_current_cost %></span>
              <span>рублей</span>
            </div>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <%= current_user.first_name %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Вход", new_session_path(:user), class: "nav-link active"%>
          </li>
          <li class="nav-item">
            <%= link_to "Регистрация", new_registration_path(:user), class: "nav-link active" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>