<!DOCTYPE html>
<html>
  <head>
    <title>Доставочка</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Tangerine">
  </head>

  <body>
    <div class="app">
      <div class="container-xxl">
        <div class="row align-items-start pt-5">
          <div class="col-2">
            <div class="content p-4 shadow bg-white default_border_radius">
              <%= render 'categories/index' %>
            </div>
          </div>
          <div class="col">
            <%= turbo_stream_from "notifications", current_user&.id %>
            <%= render 'layouts/notifications', notifications: flash %>
            <div class="content p-4 shadow bg-white default_border_radius">
              <%= render 'items/search' %>
              <%= yield %>
            </div>
          </div>
          <div class="col-3">
            <div class="align-items-start">
              <div class="content p-3 mb-3 shadow bg-white default_border_radius">
                <%= render 'layouts/profile' %>
              </div>
            </div>
            <div class="align-items-start">
              <%= render 'shopping_carts/create' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
